<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue_tabel</title>

</head>
<body>
<div id="main">
    <div style="float: left; margin-right: 20px;">
        <table id="table">
            <tr v-for="role in roles">
                <td>{{role.code}}</td>
                <td>{{role.name}}</td>
            </tr>
        </table>
        
    </div>
    <div>
        <form>
            <input type="text" v-model="code"><br>
            <input type="text" v-model="name">
        </form>
        <input type="button" value="增加" style="margin-left: 30px" @click="add">
        <input type="button" value="删除" style="margin-left: 30px" @click="deleteThis">
    </div>
    <ul v-for="(prop,key,index) in emp">
        <li>{{prop}} {{key}} {{index}}</li>
    </ul>
    <div id="container">
        <input type="text" v-model="name"><br>
        <input type="password" v-model="password"><br>
        <input type="radio" name="gender" value="男" v-model="gender">男<br>
        <input type="radio" name="gender" value="女" v-model="gender">女<br>
        <input type="checkbox" value="足球" v-model="interests">足球<br>
        <input type="checkbox" value="篮球" v-model="interests">篮球<br>
        <input type="checkbox" value="排球" v-model="interests">排球<br>
        <select name="city" v-model="city">
            <option v-for="c in citys">{{c}}</option>
        </select>
    </div>
</div>
<script src="js/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#main",
        data: {
            name: "",
            code: "",
            roles: [],
            emp :{
                name: "王静",
                gender: "女",
                age: 25
            }
        },
        methods: {
            add(){
                let role = new Object();
                role.name = this.name;
                role.code = this.code;
                this.roles.push(role);
            },
            deleteThis(){
                this.roles.pop()
            }
        },
    })
    let vm2 = new Vue({
        el: "#container",
        data: {
            name: "王静",
            password: "123",
            gender: "女",
            interests: ['足球','排球'],
            city: '深圳',
            citys: ['北京','上海','广州','深圳']
        }
    })
</script>
    
</body>
</html>